table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
}

th {
    background-color: rgb(117, 201, 250) !important;
}

td {
    background-color: rgb(205, 235, 253) !important;
}
td .buttonInput:hover{
    border: 2px solid royalblue;
}
.book-heading{
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5em;
}

.text-part2{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 15px;
    /*background-color: rgb(245, 230, 230);*/
    border: 2px solid #4568ff;
    border-radius: 5px;
    margin-bottom: 25px;
    /*-webkit-box-shadow: -4px 8px 13px 5px #A2A2A2; 
    box-shadow: -4px 8px 13px 5px #A2A2A2;*/

    text-align: justify;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.text-part2:hover {
    background-color: #4568ff;
    color: white;
}

@media screen and (max-width: 720px) {
    .text-part2{
        font-size: 15px;
    }
  }