/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background: rgba(0, 29, 35, 0.374); */
    object-fit: cover;
    z-index: 1;
}

.sty{
    filter: brightness(70%);
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    border: 12px solid var(--dark);
    border-radius: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: linear-gradient(rgba(0, 29, 35, .8), rgba(0, 29, 35, .8)), url("/public/carousel-4.jpg") center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}

.home_para{
    text-align: center;
}

.logo {
    padding: 15px 0;
    text-align: left;
    overflow: hidden;
}

.logo img {
    max-width: 100%;
    max-height: 100px;
}

/*******************************/
/******** Main Para CSS *********/
/*******************************/

.section_para {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}

.nopad {
    padding: 0;
}

.cac {
    background: linear-gradient(rgba(255, 255, 255, 0.282), rgba(255, 255, 255, 0.293)), url("/public/img/main_para.jpg") center center no-repeat;
    background-size: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.cac:hover .main_para {
    color: #000000 !important;
}

.cac .main_para {
    color: #1e1e1e;
    padding: 30px 8%;
    margin: 0;
    text-transform: capitalize;
}

.categories-area .single-cat {
    border: 1px solid #e1ebf7;
    border-radius: 6px;
    padding: 10px 10px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    position: relative;
    z-index: 1
}

@media (max-width: 575px) {
    .categories-area .single-cat {
        padding: 50px 22px
    }
}

.categories-area .single-cat::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    background: #ff5f13;
    transition: .6s;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 6px
}

.categories-area .single-cat .cat-icon span {
    color: #f15f22;
    font-size: 50px;
    margin-bottom: 30px;
    display: block
}

.categories-area .single-cat .cat-cap h5>a {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 21px;
    display: block;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
    font-family: "Barlow", sans-serif
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .categories-area .single-cat .cat-cap h5>a {
        font-size: 26px
    }
}

@media (max-width: 575px) {
    .categories-area .single-cat .cat-cap h5>a {
        font-size: 26px
    }
}

.categories-area .single-cat .cat-cap p {
    margin-bottom: 36px;
    color: #57667e;
    font-size: 16px;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .categories-area .single-cat .cat-cap p {
        font-size: 15px
    }
}

.categories-area .single-cat .cat-cap a {
    color: #1c165c;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

.categories-area .single-cat:hover {
    border: 1px solid transparent
}

.categories-area .single-cat:hover::before {
    height: 100%
}

.categories-area .single-cat:hover .cat-icon span {
    color: #fff
}

.categories-area .single-cat:hover .cat-cap h5 {
    color: #fff
}

.categories-area .single-cat:hover .cat-cap p {
    color: #fff
}

.categories-area .single-cat:hover .cat-cap a {
    color: #fff
}

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.2);
}
